<div style="position: relative;">
<div class="retro_static"></div>
<a href="{{ video.get_absolute_url }}" class="tvp_control tvp_big_play_button"><span>Смотреть</span><div class="tvp_time_hud"></div></a>

<a class="videoimg" href="{{ video.get_absolute_url }}"><img src="http://candybox.peegirl.info/preview/{{ video.video_id }}.jpg" alt="{{ video.name }}"></a>
<meta itemprop="thumbnailUrl" content="http://candybox.peegirl.info/preview/{{ video.video_id }}.jpg"/>
<meta itemprop="image" content="http://candybox.peegirl.info/preview/{{ video.video_id }}.jpg"/>
</div>