<div id="embedFlashPlayer"></div>
<script src="/media/js/jwplayer.js"></script>
<script>
jwplayer ('embedFlashPlayer').setup ({
	id:'moviePlayer',
	flashplayer: "/media/swf/player.swf",
	width:590,
	height:443,
	title: '{{ video.name }}',
	file:'{{video.get_video_url}}',
	image:'http://candybox.peegirl.ru/preview/{{ video.video_id }}.jpg',
	stretching:'uniform',
	abouttext:'PeeGirl',
	aboutlink:'http://www.peegirl.ru/',
	provider: 'http',
	'http.start':'start'
});
</script>
<meta itemprop="thumbnailUrl" content="http://candybox.peegirl.ru/preview/{{ video.video_id }}.jpg"/>

<a class="video_download" href="{{video.get_video_url}}">Скачать видео</a>