{% extends "base.html" %} 

{% block title %}Писающие девочки | {{ video.name }} {% endblock %}
{% block keywords %} {{ video.name }} {% endblock %}


{% block content %} 

{% load tags %}


<h1>{{ video.name }}</h1>

<div class="rating_box">
	<div class="rating {% if video.rating < 0 %} rating_red {%else%} rating_green {%endif%}">{{ video.rating }}</div>
	<p class="vote_buttons">
		<a class="vote_link" data-res="bad" href="#"><img src="/media/img/thumb_down.png" alt="Мне не понравилось" title="Мне не понравилось"></a>
		<a class="vote_link" data-res="good" href="#"><img src="/media/img/thumb_up.png" alt="Мне понравилось" title="Мне понравилось"></a>
	</p>
	<p class="voters_total">{{ video.voters }} голосов</p>
</div>
	<script>
		(function () {
			$(".vote_link").on('click', function (e) {
				e.preventDefault();
				var url;
				if ($(this).data('res') == 'good') {
					url = '{% url video_vote_good id=video.pk %}';
				} else {
					url = '{% url video_vote_bad id=video.pk %}';
				}

				$.ajax({
					url: url,
					dataType: 'json',
					success: function(data) {
						var v = $('.rating_box')
						v.children(".rating").text(data.voters_good - data.voters_bad);
						v.children(".voters_total").text(data.voters + ' голосов');
					}
				})				
			})
		})()
	</script>

{% showvideo video %}
<p id="video_decription" class="video_decription">{{video.desc}}</p>	
{% if perms.video.can_change %}
	<a id="video_decription_link" href=""><img src="/media/img/edit.png"/></a>

	<p id="vote"><span class="voters_bad">{{ video.voters_bad }}</span> <span class="voters">{{ video.voters }}</span> <span class="voters_good">{{ video.voters_good }}</span></p>
	<script>
		(function () {
			var desc = $('#video_decription')
			desc.addClass('editable');
			$('#video_decription_link, #video_decription').on('click', function (e) {
				if (desc.hasClass('editable')) {
					e.preventDefault();
					e.stopPropagation();
					desc.removeClass('editable');
					text = $('<textarea/>', {text: desc.text()});
					link = $('<a/>', {href: '{% url edit_video_desc id=video.pk %}', text: 'Сохранить'})
					desc.html(text).append(link);
					text.focus();
					text.mouse_is_inside = false;
					text.hover(function(){text.mouse_is_inside=true;}, function(){text.mouse_is_inside=false; });
					$("body").on('click', function () {
						if (text.mouse_is_inside!=true) {
							e.preventDefault();
							e.stopPropagation();
							$.post(link.attr('href'), {text: text.val()}, function(data){
								desc.html(data)
								desc.addClass('editable');
							})
						}
					})
				}
			})
		})();
	</script>
{% endif %}

{% if perms.video.can_delete %}
	<br><a href="{% url delete_video id=video.pk %}?backurl={{request.path}}">удалить</a>
{% endif %}
<br><br>
<h2>С этим видео так же посмотрели</h2>
{% showrel video 6 %}

{% endblock %} 


