{% extends "base.html" %} 
{% load i18n %}

{% load tagging_tags %}

{% block title %}
{% if tag %}{{tag}} | Peegirl.info{%else%}{{ block.super }}{%endif%}
{% endblock %} 


{% block header %}
{% if not curpage.number == 1 %}{% trans "Page" %}: {{curpage.number}}{% elif tag %}{{tag}}{%else%}{{ block.super }}{%endif%}
{% endblock %} 

{% block content %} 

{% load tags %}

<ul class="videolist">
{% for video in videos %} 
<li class="videoitem" itemscope itemtype="http://schema.org/VideoObject">
	<p class="time_wrp"><abbr><time itemprop="uploadDate" class="date" datetime="{{ video.date|date:"c" }}">{{ video.date|date:"j M Y" }}</time>{% if video.views > 0 %}&nbsp;|&nbsp;<span itemprop="interactionCount" class="views">{{video.views}} {{ video.views|rupluralize:_('просмотр,просмотра,просмотров') }} </span>{%endif%}</abbr></p>
	{%if video.url %}
	<meta itemprop="url" content="http://{{request.META.SERVER_NAME}}{{video.get_absolute_url}}">
	<meta itemprop="playerType" content="Flash"/>
	<h2><a itemprop="name" class="videotitle" href="{{video.get_absolute_url}}">{{video.name}}</a></h2>
	{%else%}
	<div class="notitle">&nbsp;</div>
	{%endif%}
	<div class="video_tmb_wrp">
	{% showvideo_preview video %}
	{% if video.has_vote %}
	<div class="rating_box" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
		<div class="rating {% if video.rating < 0 %} rating_red {%else%} rating_green {%endif%}" itemprop="ratingValue">{{ video.rating }}</div>
	</div>
	{% endif %}
	</div>
	{% tags_for_object video as tags %}
	<ul class="tags_list">
	    {% for tag in tags %}
	        <li class="tag"><a href="{% url 'tag_list' tag=tag.name %}">{{tag.name}}</a></li>
	    {% endfor %}
	</ul>
</li>
{% if forloop.counter == r %}
<li class="videoitem">
	<div class="notitle">&nbsp;</div>

<script id="runet42f8c2aa6699b0a32af74d27b95a5b17" type="text/javascript">(function(d, s, id, uid) {function dLoad() {var js, rjs = d.getElementById(uid);if (d.getElementById(id)) id=id+Math.random();var dv = d.createElement("div");dv.id = "42f8c2aa6699b0a32af74d27b95a5b17";rjs.parentNode.insertBefore(dv , rjs);js = d.createElement(s); js.id = id;js.src = "//tools.runetki.com/din.php?src=42f8c2aa6699b0a32af74d27b95a5b17&bg=none&w=500&h=300";rjs.parentNode.insertBefore(js, rjs);}if (window.addEventListener) {window.addEventListener("load", dLoad, false);} else if (window.attachEvent) {window.attachEvent("onload",dLoad);}}(document, "script", "rundin","runet42f8c2aa6699b0a32af74d27b95a5b17"));</script>

</li>
{%endif%}
{% endfor %} 

</ul>

{% paginator month=month cur_page=curpage pages=paginator tag=tag%}

{% endblock %} 
