{% extends "base.html" %} 

{% load tagging_tags %}

{% block header %}
{% if not curpage.number == 1 %}Страница: {{curpage.number}}
{% elif tag %}{{tag}}
{%else%}Коллекция бесплатного порно-видео с писающими девушками{%endif%}
{% endblock %} 

{% block content %} 

{% load tags %}

{% paginator month=month cur_page=curpage pages=paginator tag=tag%}

<ul class="videolist">

{% for video in videos %} 
<li class="videoitem" itemscope itemtype="http://schema.org/VideoObject">
	<time itemprop="uploadDate" class="date" datetime="{{ video.date|date:"c" }}">{{ video.date|date:"j M Y" }}</time>
	{%if video.hoster != 'image' %}
	<meta itemprop="url" content="http://{{request.META.SERVER_NAME}}{{video.get_absolute_url}}">
	<meta itemprop="playerType" content="Flash"/>
	<h2><a itemprop="name" class="videotitle" href="{{video.get_absolute_url}}">{{video.name}}</a></h2>
	{%else%}
	<div class="notitle">&nbsp;</div>
	{%endif%}
	<div class="rating_box" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
		<div class="rating {% if video.rating < 0 %} rating_red {%else%} rating_green {%endif%}" itemprop="ratingValue">{{ video.rating }}</div>
		<p class="voters_total"><span itemprop="ratingCount">{{ video.voters }}</span> {{ video.voters|rupluralize:'голос,голоса,голосов' }}</p>
	</div>
	{% showvideo_preview video %}
	{% tags_for_object video as tags %}
	<ul class="tags_list">
	    {% for tag in tags %}
	        <li class="tag"><a href="{% url tag_list tag=tag.name %}">{{tag.name}}</a></li>
	    {% endfor %}
	</ul>
	<p itemprop="interactionCount" class="views">Просмотров: {{video.views}}</p>
	<br/>
	<a href="{{video.get_absolute_url}}">смотреть онлайн...</a>
	{% if perms.video.can_delete %}
	<a style="float: right" href="{% url delete_video id=video.pk %}?backurl={{request.path}}">удалить</a>
	{% endif %}
</li>
{% endfor %} 

</ul>

{% paginator month=month cur_page=curpage pages=paginator tag=tag%}

{% endblock %} 
