{% extends "base.html" %} 

{% block title %}Писающие девочки | {{ video.name }} {% endblock %}
{% block keywords %} {{ video.name }} {% endblock %}


{% block content %} 

{% load tags %}


<h1>{{ video.name }}</h1>
{% showvideo video %}
<p id="video_decription" class="video_decription">{{video.desc}}</p>	
{% if perms.video.can_change %}
	<a id="video_decription_link" href=""><img src="/media/img/edit.png"/></a>
	<script>
		(function () {
			var desc = $('#video_decription')
			desc.addClass('editable');
			$('#video_decription_link, #video_decription').on('click', function (e) {
				if (desc.hasClass('editable')) {
					e.preventDefault();
					e.stopPropagation();
					desc.removeClass('editable');
					text = $('<textarea/>', {text: desc.text()});
					link = $('<a/>', {href: '{% url edit_video_desc id=video.pk %}', text: 'Сохранить'})
					desc.html(text).append(link);
					text.focus();
					text.mouse_is_inside = false;
					text.hover(function(){text.mouse_is_inside=true;}, function(){text.mouse_is_inside=false; });
					$("body").on('click', function () {
						if (text.mouse_is_inside!=true) {
							e.preventDefault();
							e.stopPropagation();
							$.post(link.attr('href'), {text: text.val()}, function(data){
								desc.html(data)
								desc.addClass('editable');
							})			
						}
					})
				}
			})
		})();
	</script>
{% endif %}

{% if perms.video.can_delete %}
	<br><a href="{% url delete_video id=video.pk %}?backurl={{request.path}}">удалить</a>
{% endif %}
<br><br>
<h2>С этим видео так же посмотрели</h2>
{% showrel video 6 %}

{% endblock %} 


